@media (min-width: 768px) {
    .large-screen-sidebar {
      flex: 8%;
      height: 100vh;
    }
  }
  @media (max-width: 767px) {
    .large-screen-sidebar {
      flex: none; /* Disable flex layout on smaller screens */
      width: 250px; /* Set a fixed width for small screens */
      height: 100vh;
    }
  }